### DATA FRAMES

### Creating Dataframes

In [1]:
import pandas as pd

### From Dictionary

In [2]:
dict1={'Age':[25,25,32,23,27,26,22,22,24,32,28,24,23,25,26,23,25,25,31,21,21],
       'Name':['Rinto','Joyal Joseph','Saneesh Mathew','Aswathy M V','Raneesh V U','Viswanth V','Reshma Reghunath','Doniya','Adarsh Balan','SURAJ S B','Sreelekhmi K S','Anantha krishnan T','Aiswarya George','Reshma A C','Sirajudheen T M','Vaishakh V V','Biben Johnson','Arun','Reshmi R Nair','Shaijal','Christy James'],
      'Gender':['Male','Male','Male','Female','Male','Male','Female','Female','Male','Male','Female','Male','Female','Female','Male','Male','Male','male','Female','Male','Male'],
      'Qualification':['Btech','Bsc Mathematics','Bsc CS','Btech','Bsc Cs','Btech','BCA','Btech','Btech','B com','MCA','Btech','MSC Statitics','MSC Maths','M com','BBA','Btech','MBA','MBA','Bsc','BE Cse'],
      'Place':['Palakkad','Pala','Kasargod','Kannur','Thrissur','Adoor','Pathanamathitta','Idukki','Kayamkulam','Kottarakara','Chengannur','Kollam','Ernakulam','Thrissur','Malappuram','Malappuram','Kollam','Alappuzha','Thiruvalla','Malappuram','Wayanad']}

In [4]:
data1=pd.DataFrame(dict1)

In [5]:
data1

    Age                Name  Gender    Qualification            Place
0    25               Rinto    Male            Btech         Palakkad
1    25        Joyal Joseph    Male  Bsc Mathematics             Pala
2    32      Saneesh Mathew    Male           Bsc CS         Kasargod
3    23         Aswathy M V  Female            Btech           Kannur
4    27         Raneesh V U    Male           Bsc Cs         Thrissur
5    26          Viswanth V    Male            Btech            Adoor
6    22    Reshma Reghunath  Female              BCA  Pathanamathitta
7    22              Doniya  Female            Btech           Idukki
8    24        Adarsh Balan    Male            Btech       Kayamkulam
9    32           SURAJ S B    Male            B com      Kottarakara
10   28      Sreelekhmi K S  Female              MCA       Chengannur
11   24  Anantha krishnan T    Male            Btech           Kollam
12   23     Aiswarya George  Female    MSC Statitics        Ernakulam
13   25          Reshma A C  Female        MSC Maths         Thrissur
14   26     Sirajudheen T M    Male            M com       Malappuram
15   23        Vaishakh V V    Male              BBA       Malappuram
16   25       Biben Johnson    Male            Btech           Kollam
17   25                Arun    male              MBA        Alappuzha
18   31       Reshmi R Nair  Female              MBA       Thiruvalla
19   21             Shaijal    Male              Bsc       Malappuram
20   21       Christy James    Male           BE Cse          Wayanad

In [6]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            21 non-null     int64
 1   Name           21 non-null     object
 2   Gender         21 non-null     object
 3   Qualification  21 non-null     object
 4   Place          21 non-null     object
dtypes: int64(1), object(4)
memory usage: 968.0+ bytes

### DataFrame using Lists

In [7]:
Age=[25,25,32,23,27,26,22,22,24,32,28,24,23,25,26,23,25,25,31,21,21]
Names=['Rinto','Joyal Joseph','Saneesh Mathew','Aswathy M V','Raneesh V U','Viswanth V','Reshma Reghunath','Doniya','Adarsh Balan','SURAJ S B','Sreelekhmi K S','Anantha krishnan T','Aiswarya George','Reshma A C','Sirajudheen T M','Vaishakh V V','Biben Johnson','Arun','Reshmi R Nair','Shaijal','Christy James']
Gender=['Male','Male','Male','Female','Male','Male','Female','Female','Male','Male','Female','Male','Female','Female','Male','Male','Male','male','Female','Male','Male']
Qualification=['Btech','Bsc Mathematics','Bsc CS','Btech','Bsc Cs','Btech','BCA','Btech','Btech','B com','MCA','Btech','MSC Statitics','MSC Maths','M com','BBA','Btech','MBA','MBA','Bsc','BE Cse']
Place=['Palakkad','Pala','Kasargod','Kannur','Thrissur','Adoor','Pathanamathitta','Idukki','Kayamkulam','Kottarakara','Chengannur','Kollam','Ernakulam','Thrissur','Malappuram','Malappuram','Kollam','Alappuzha','Thiruvalla','Malappuram','Wayanad']

In [10]:
data1=pd.DataFrame(list(zip(Age,Names,Gender,Qualification,Place)),columns=['AGE','NAME','GENDER','QUALIFICATION','PLACE'])

In [11]:
data1

    AGE                NAME  GENDER    QUALIFICATION            PLACE
0    25               Rinto    Male            Btech         Palakkad
1    25        Joyal Joseph    Male  Bsc Mathematics             Pala
2    32      Saneesh Mathew    Male           Bsc CS         Kasargod
3    23         Aswathy M V  Female            Btech           Kannur
4    27         Raneesh V U    Male           Bsc Cs         Thrissur
5    26          Viswanth V    Male            Btech            Adoor
6    22    Reshma Reghunath  Female              BCA  Pathanamathitta
7    22              Doniya  Female            Btech           Idukki
8    24        Adarsh Balan    Male            Btech       Kayamkulam
9    32           SURAJ S B    Male            B com      Kottarakara
10   28      Sreelekhmi K S  Female              MCA       Chengannur
11   24  Anantha krishnan T    Male            Btech           Kollam
12   23     Aiswarya George  Female    MSC Statitics        Ernakulam
13   25          Reshma A C  Female        MSC Maths         Thrissur
14   26     Sirajudheen T M    Male            M com       Malappuram
15   23        Vaishakh V V    Male              BBA       Malappuram
16   25       Biben Johnson    Male            Btech           Kollam
17   25                Arun    male              MBA        Alappuzha
18   31       Reshmi R Nair  Female              MBA       Thiruvalla
19   21             Shaijal    Male              Bsc       Malappuram
20   21       Christy James    Male           BE Cse          Wayanad

### DataFrame from Lists of Dictionaries

In [12]:
lst=[
    {'Name': 'Rinto'              ,'Age':25   ,'Gender':'Male',    'Qualification':'Btech',          'Place':'Palakkad'},
    {'Name': 'Joyal Joseph'       ,'Age':25   ,'Gender':'Male',    'Qualification':'Bsc Mathematics','Place':'Pala'},
    {'Name': 'Saneesh Mathew'     ,'Age':32   ,'Gender':'Male',    'Qualification':'Bsc CS'      ,'Place':'Kasargod'    },
    {'Name': 'Aswathy M V'        ,'Age': 23  ,'Gender':'Female',  'Qualification':'Btech'      ,'Place':'Kannur'   },
    {'Name': 'Raneesh V U'        ,'Age':27   ,'Gender':'Male'   ,  'Qualification':'Bsc Cs'     ,'Place': 'Thrissur'   },
    {'Name': 'Viswanth V'         ,'Age':26   ,'Gender':'Male'   ,  'Qualification': 'Btech'     ,'Place':'Adoor'    },
    {'Name': 'Reshma Reghunath'   ,'Age':22   ,'Gender':'Female'   ,'Qualification':'BCA'      ,'Place':'Pathanamathitta'    },
    {'Name': 'Doniya'             ,'Age':22   ,'Gender':'Female'   ,'Qualification':'Btech'      ,'Place':'Idukki'    },
    {'Name': 'Adarsh Balan'       ,'Age':24   ,'Gender':'Male'   ,  'Qualification':'Btech'       ,'Place':'Kayamkulam'    },
    {'Name': 'SURAJ S B'          ,'Age':32   ,'Gender':'Male'  ,   'Qualification':'B com'      ,'Place':'Kottarakara'    },
    {'Name': 'Sreelekhmi K S'     ,'Age':28   ,'Gender':'Female'   ,'Qualification':'MCA'      ,'Place':'Chengannur'   },
    {'Name': 'Anantha krishnan T' ,'Age':24   ,'Gender':'Male'   ,  'Qualification':'Btech'       ,'Place':'Kollam'    },
    {'Name': 'Aiswarya George'    ,'Age':23   ,'Gender': 'Female'  ,'Qualification':'MSC Statitics'      ,'Place':'Ernakulam'    },
    {'Name': 'Reshma A C'         ,'Age':25   ,'Gender':'Female'   ,'Qualification':'MSC Maths'      ,'Place':'Thrissur'    },
    {'Name': 'Sirajudheen T M'    ,'Age':26   ,'Gender':'Male'    , 'Qualification':'M com'      ,'Place':'Malappuram'    },
    {'Name': 'Vaishakh V V'       ,'Age':23   ,'Gender':'Male'   ,  'Qualification':'BBA'      ,'Place':'Malappuram'    },
    {'Name': 'Biben Johnson'      ,'Age':25   ,'Gender':'Male'   ,  'Qualification':'Btech'      ,'Place':'Kollam'    },
    {'Name': 'Arun'               ,'Age':25   ,'Gender':'Male'   ,  'Qualification':'MBA'      ,'Place':'Alappuzha'    },
    {'Name': 'Reshmi R Nair'      ,'Age':31   ,'Gender':'Female',   'Qualification':'MBA'      ,'Place':'Thiruvalla'    },
    {'Name': 'Shaijal'            ,'Age':21   ,'Gender':'Male',     'Qualification':'Bsc'      ,'Place':'Malappuram'    },
    {'Name': 'Christy James'      ,'Age':21   ,'Gender':'Male' ,    'Qualification':'BE Cse'      ,'Place':'Wayanad'    },
    ]

In [13]:
data1=pd.DataFrame(lst)

In [14]:
data1

                  Name  Age  Gender    Qualification            Place
0                Rinto   25    Male            Btech         Palakkad
1         Joyal Joseph   25    Male  Bsc Mathematics             Pala
2       Saneesh Mathew   32    Male           Bsc CS         Kasargod
3          Aswathy M V   23  Female            Btech           Kannur
4          Raneesh V U   27    Male           Bsc Cs         Thrissur
5           Viswanth V   26    Male            Btech            Adoor
6     Reshma Reghunath   22  Female              BCA  Pathanamathitta
7               Doniya   22  Female            Btech           Idukki
8         Adarsh Balan   24    Male            Btech       Kayamkulam
9            SURAJ S B   32    Male            B com      Kottarakara
10      Sreelekhmi K S   28  Female              MCA       Chengannur
11  Anantha krishnan T   24    Male            Btech           Kollam
12     Aiswarya George   23  Female    MSC Statitics        Ernakulam
13          Reshma A C   25  Female        MSC Maths         Thrissur
14     Sirajudheen T M   26    Male            M com       Malappuram
15        Vaishakh V V   23    Male              BBA       Malappuram
16       Biben Johnson   25    Male            Btech           Kollam
17                Arun   25    Male              MBA        Alappuzha
18       Reshmi R Nair   31  Female              MBA       Thiruvalla
19             Shaijal   21    Male              Bsc       Malappuram
20       Christy James   21    Male           BE Cse          Wayanad